.container {
  background-color: #1a1b1f;
  width: 16rem;
  margin-left: 8rem;
  height: 100vh;
  position: relative;
}

.contacts-names {
  margin-top: 10rem;
}

.p {
  position: absolute;
  color: white;
  margin-left: 2rem;
  margin-top: 2.5rem;
}
